body{
	font-family: 'Dosis', sans-serif;
	background-color: white;
	overflow: hidden;
}

.principal{
	display:block;
	margin:0 auto;
	width: 0 auto;
	justify-content: center;
	height: 500px;
}

.cajamini{
	display:flex;
	justify-content: center;
	width:100%;
	height:40px;
	margin:10px;
}

.mini{
	width:80px;
}

#cajatexto{
	display: none;
	text-align: center;
	justify-content: center;
	color: darkmagenta;
}

.temas{
	display: flex;
	justify-content: center;
}

@media all and (max-width: 960px) {
	.principal{
		height: 300px;
	}

	.cajamini{
		height:30px;
		margin:5px;
	}

	.mini{
		width:40px;
	}
}

@media all and (max-width: 480px) {

	body{
	overflow: none;
	}
	
	.principal{
		height: 200px;
	}
	
	.cajamini{
		height:30px;
		margin:4px;
	}

	.mini{
		width:30px;
		flex-wrap: wrap;
	}

	h2{
		font-size: 14pt;
	}
}